.heading{
    background-image: linear-gradient(to right, rgb(5, 5, 152) , rgb(164, 209, 239));
    padding: 3rem;
    color: white;
}
.main{
    display:flex;
    justify-content:flex-start;
    /* border: 1px solid purple; */
}
.searchCity{
    /* border: 1px solid red; */
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.cityForecast{
    /* border: 1px solid blue; */
    margin-left: 3rem;
}
.fiveDayForecast{
    display: flex;
    justify-content: space-evenly;  

}
.forecast{
    background-color: rgb(5, 5, 152);
    padding: 3rem;
    margin: 1rem;
}
